<ng-container *ngIf="christianLifeData">
    <data-panel ngId="testimonyInfo" [heading]="'statementOfFaithSpiritualJourney' | l" color="portlet-blue"
        collapsed="true">
        <fieldset [disabled]="formLoading">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="personalStatement">{{ 'personalStatement' | l }}</label>
                        <textarea [(ngModel)]="christianLifeData.application.personalStatement" id="personalStatement"
                            name="personalStatement" class="form-control" rows="10" autocomplete="off" required
                            autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !christianLifeData.application.personalStatement"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         [style.border-left]="!christianLifeData.application.statementOfFaithApproval ? '5px solid #e74c3c' : '5px solid transparent'"
                         [style.padding-left]="!christianLifeData.application.statementOfFaithApproval ? '10px' : '0px'"
                         style="transition: border-color 0.2s ease;">
                        <label for="statementOfFaithApproval">{{ 'statementOfFaithApprovalText1' | l }} <a
                                href="{{ 'statementOfFaithApprovalLinkUrl' | l }}" target="_new">{{
                                'statementOfFaithApprovalLink' | l }} <i class="fas fa-info-circle"
                                    aria-hidden="true"></i></a></label><br>
                        <label for="statementOfFaithApproval" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="christianLifeData.application.statementOfFaithApproval"
                                id="statementOfFaithApproval" name="statementOfFaithApproval" autocomplete="off"
                                required>&nbsp;{{ 'yes' | l }}</label>
                        <required-field-warning
                            *ngIf="validate && !christianLifeData.application.statementOfFaithApproval"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>

            <!-- Subtitle 2: Εκκλησία & Διακονία -->
            <h4 style="font-weight: bold; margin-top: 25px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; color: #333;">
                {{ 'churchMinistry' | l }}
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="churchName">{{ 'churchName' | l }}</label>
                        <input type="text" [(ngModel)]="christianLifeData.application.churchName" id="churchName"
                            name="churchName" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !christianLifeData.application.churchName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="pastorName">{{ 'pastorName' | l }}</label>
                        <input type="text" [(ngModel)]="christianLifeData.application.pastorName" id="pastorName"
                            name="pastorName" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !christianLifeData.application.pastorName"></required-field-warning>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ministryInvolvement">{{ 'ministryInvolvement' | l }}</label>
                        <textarea [(ngModel)]="christianLifeData.application.ministryInvolvement"
                            id="ministryInvolvement" name="ministryInvolvement" class="form-control" rows="5"
                            autocomplete="off" required></textarea>
                        <required-field-warning
                            *ngIf="validate && !christianLifeData.application.ministryInvolvement"></required-field-warning>
                    </div>
                </div>
            </div>

            <!-- Save & Continue redirecting to references -->
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('testimonyInfo', 'recommendationsInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
            
        </fieldset>
    </data-panel>
</ng-container>