<form *ngIf="applicationData" #form="ngForm" (change)="modelChanged = true" accept-charset="UTF-8" role="form">
    <data-panel ngId="testimonyInfo" heading="Statement of Faith" color="portlet-blue">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="familyBackground">Give a brief description of your family background, including parents and siblings, general tone of childhood household, and religious influences (minimum 50 words)</label>
                        <textarea [(ngModel)]="applicationData.application.familyBackground" id="familyBackground" name="familyBackground" class="form-control" rows="5" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.familyBackground"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="testimony">Share when and how you came to know Jesus Christ as your Lord and Savior (minimum 50 words)</label>
                        <textarea [(ngModel)]="applicationData.application.testimony" id="testimony" name="testimony" class="form-control" rows="5" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.testimony"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="spiritualGrowth">How are you currently cultivating your spiritual life, including personal disciplines, fellowship and activities (minimum 50 words)</label>
                        <textarea [(ngModel)]="applicationData.application.spiritualGrowth" id="spiritualGrowth" name="spiritualGrowth" class="form-control" rows="5" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.spiritualGrowth"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="statementOfFaithApproval">I have read and accept the <a href="https://www.grbc.gr/en/who-we-are/statement-of-faith/" target="_new">Statement of Faith of the Greek Bible College <i class="fas fa-info-circle" aria-hidden="true"></i></a></label><br>
                        <label for="statementOfFaithApproval" class="checkbox-inline"><input type="checkbox" [(ngModel)]="applicationData.application.statementOfFaithApproval" id="statementOfFaithApproval" name="statementOfFaithApproval" autocomplete="off" required>&nbsp;{{ 'yes' | l }}</label>
                        <required-field-warning *ngIf="validate && !applicationData.application.statementOfFaithApproval"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button" (click)="testimonyInfoOnSubmit()">{{ 'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
    <data-panel ngId="ministryInfo" heading="Ministry Information" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ministryTalent">Do you have a particular type of ministry to which you feel called?</label>
                        <textarea [(ngModel)]="applicationData.application.ministryTalent" id="ministryTalent" name="ministryTalent" class="form-control" rows="2" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.ministryTalent"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="ministryExperience">Please list any Church ministries you have been apart of, the years involved and whether or not you were in a leadership position</label>
                        <textarea [(ngModel)]="applicationData.application.ministryExperience" id="ministryExperience" name="ministryExperience" class="form-control" rows="2" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.ministryExperience"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="reasonsToEnroll">Give your reason(s) for desiring to enroll at the Greek Bible College - International Student Program. Please include your goals (minimum 50 words)</label>
                        <textarea [(ngModel)]="applicationData.application.reasonsToEnroll" id="reasonsToEnroll" name="reasonsToEnroll" class="form-control" rows="2" autocomplete="off" required></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.reasonsToEnroll"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button" (click)="ministryInfoOnSubmit()">{{ 'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
    <data-panel ngId="additionalInfo" heading="Additional Information" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="conviction">Have you ever been convicted of a crime?</label><br>
                        <label for="conviction" class="radio-inline"><input type="radio" [(ngModel)]="applicationData.application.conviction" id="conviction" name="conviction" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                        <label for="noConviction" class="radio-inline"><input type="radio" [(ngModel)]="applicationData.application.conviction" id="noConviction" name="conviction" value="0" required>&nbsp;{{ 'no' | l }}</label>
                        <required-field-warning *ngIf="validate && applicationData.application.conviction === null" [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
                <div *ngIf="applicationData.application.conviction === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="convictionDetails">Please give more information regarding the conviction</label>
                        <textarea [(ngModel)]="applicationData.application.convictionDetails" id="convictionDetails" name="convictionDetails" class="form-control" rows="3" autocomplete="off" required autofocus></textarea>
                        <required-field-warning *ngIf="validate && !applicationData.application.convictionDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button" (click)="additionalInfoOnSubmit()">{{ 'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
    <div *ngIf="!unsavedChanges(); else isNotSaved" class="row">
        <ng-container *ngIf="form.valid; else isNotValid">
            <div class="col-md-2 col-md-offset-5 extraBottomPadding">
                <button class="btn btn-green btn-block" type="button" (click)="submitForm()" [disabled]="formLoading || !form.valid">{{ 'submit' | l }}</button>
            </div>
        </ng-container>
        <ng-template #isNotValid>
            <div class="col-md-4 col-md-offset-4 extraBottomPadding">
                <button class="btn btn-green btn-block" type="button" (click)="checkForm()" [disabled]="formLoading">{{ 'validate' | l }}</button>
            </div>
        </ng-template>
    </div>
    <ng-template #isNotSaved>
        <div class="alert alert-danger text-center extraBottomPadding">{{ 'pleaseSaveChanges' | l }}</div>
    </ng-template>
    <div *authIf="['admin', 'registrar', 'cashier', 'admissions']" class="row text-center extraBottomPadding">
        <action-button (click)="applicationService.returnToList(this.userId)" icon="fa-arrow-left" color="btn-blue" [caption]="'back' | l" [bTooltip]="'backToApplicants' | l"></action-button>
    </div>
</form>