<ng-container *ngIf="registrationData">
    <data-panel ngId="regCourseSelectionInfo" [heading]="'courseEnrollment' | l" color="portlet-blue" [collapsed]="registrationData?.application?.applicationStatus != '1'">
        <fieldset [disabled]="formLoading">
            <div *ngIf="registrationData.application.greekLoad !== 'auditor'">
                <!-- Semester 1 -->
                <h4 style="font-weight: bold; margin-top: 10px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; color: #333;">
                    {{ 'coursesFirstSemester' | l }}
                </h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course1Sem1Input">{{ 'course1' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course1Sem1" id="course1Sem1Input" name="course1Sem1" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course2Sem1Input">{{ 'course2' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course2Sem1" id="course2Sem1Input" name="course2Sem1" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course3Sem1Input">{{ 'course3' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course3Sem1" id="course3Sem1Input" name="course3Sem1" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course4Sem1Input">{{ 'course4' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course4Sem1" id="course4Sem1Input" name="course4Sem1" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>

                <!-- Semester 2 -->
                <h4 style="font-weight: bold; margin-top: 20px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; color: #333;">
                    {{ 'coursesSecondSemester' | l }}
                </h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course1Sem2Input">{{ 'course1' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course1Sem2" id="course1Sem2Input" name="course1Sem2" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course2Sem2Input">{{ 'course2' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course2Sem2" id="course2Sem2Input" name="course2Sem2" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course3Sem2Input">{{ 'course3' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course3Sem2" id="course3Sem2Input" name="course3Sem2" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="course4Sem2Input">{{ 'course4' | l }}</label>
                            <input type="text" [(ngModel)]="registrationData.application.course4Sem2" id="course4Sem2Input" name="course4Sem2" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>

                <!-- Other -->
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="coursesOtherInput">{{ 'other' | l }}</label>
                            <textarea [(ngModel)]="registrationData.application.coursesOther" id="coursesOtherInput" name="coursesOther" class="form-control" rows="3" autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="registrationData.application.greekLoad === 'auditor'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="coursesAuditorInput">{{ 'coursesAuditor' | l }}</label>
                            <textarea [(ngModel)]="registrationData.application.coursesAuditor" id="coursesAuditorInput" name="coursesAuditor" class="form-control" rows="4" required></textarea>
                            <required-field-warning *ngIf="validate && !registrationData.application.coursesAuditor"></required-field-warning>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="registrationData?.application?.applicationStatus != '1'" class="row" style="margin-top: 20px;">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button" (click)="onSave('regCourseSelectionInfo', 'regMedicalInfo')">{{ 'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
</ng-container>
