<div *ngIf="applicationData">
    <data-panel ngId="drugsUseInfo" heading="Drugs use" color="portlet-blue">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="drugsUse">Do you or have you ever used drugs?</label><br>
                    <pre>{{ admissionService.boolStringToString(applicationData.application.drugsUse) }}</pre>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="drugsUseDetails">Please give more information regarding drug use</label>
                    <pre>{{ applicationData.application.drugsUseDetails }}</pre>
                </div>
            </div>
        </div>
    </data-panel>

    <data-panel ngId="currentHealthInfo" heading="Current health status" color="portlet-blue">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentDiseases">Do you currently suffer from any diseases that the college should know about?</label><br>
                    <pre>{{ admissionService.boolStringToString(applicationData.application.currentDiseases) }}</pre>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentDiseasesDetails">Please give more information</label>
                    <pre>{{ applicationData.application.currentDiseasesDetails }}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentSymptoms">Do you currently experience or have any symptoms that the college should know about?</label><br>
                    <pre>{{ admissionService.boolStringToString(applicationData.application.currentSymptoms) }}</pre>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentSymptomsDetails">Please give more information</label>
                    <pre>{{ applicationData.application.currentSymptomsDetails }}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentMedicines">Do you currently take any prescription drugs that the college should know about?</label><br>
                    <pre>{{ admissionService.boolStringToString(applicationData.application.currentMedicines) }}</pre>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="currentMedicinesDetails">Please give more information</label>
                    <pre>{{ applicationData.application.currentMedicinesDetails }}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="foodAllergy">Do you have any food allergies?</label><br>
                    <pre>{{ admissionService.boolStringToString(applicationData.application.foodAllergy) }}</pre>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="foodAllergyDetails">Please give more information</label>
                    <pre>{{ applicationData.application.foodAllergyDetails }}</pre>
                </div>
            </div>
        </div>
    </data-panel>

    <data-panel ngId="emergencyContactsInfo" heading="Emergency contacts" color="portlet-blue">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstEmergencyContactFirstName">First Contact's First Name</label>
                    <pre>{{ applicationData.application.firstEmergencyContactFirstName }}</pre>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstEmergencyContactLastName">Last Name</label>
                    <pre>{{ applicationData.application.firstEmergencyContactLastName }}</pre>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="firstEmergencyContactPhone">Phone</label>
                    <pre>{{ applicationData.application.firstEmergencyContactPhone }}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="secondEmergencyContactFirstName">Second Contact's First Name</label>
                    <pre>{{ applicationData.application.secondEmergencyContactFirstName }}</pre>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="secondEmergencyContactLastName">Last Name</label>
                    <pre>{{ applicationData.application.secondEmergencyContactLastName }}</pre>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="secondEmergencyContactPhone">Phone</label>
                    <pre>{{ applicationData.application.secondEmergencyContactPhone }}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="otherDoctorContactApproval">In the event that I require emergency medical care, I hereby give my consent to medical treatment on my expense</label><br>
                    <pre>{{ applicationData.application.otherDoctorContactApproval }}</pre>
                </div>
            </div>
        </div>
    </data-panel>
    <ng-container>
        <div *ngIf="admissionService.hasAccess(applicationData.accessControl.editRoles)" class="row text-center extraBottomPadding">
            <action-collection [actionButtons]="decisionButtons" [collectionAjax]="true"></action-collection>
        </div>
        <div *ngIf="admissionService.hasAccess(applicationData.accessControl.editRoles)" class="row text-center extraBottomPadding">
            <action-button (click)="admissionService.editApplication(applicationData.accessControl.editPath, this.userId)" color="btn-blue" icon="fa-pencil-alt" [caption]="'edit' | l" [bTooltip]="'editApplication' | l"></action-button>
        </div>
        <div *authIf="['admin', 'registrar', 'admissions']" class="row text-center extraBottomPadding">
            <action-button (click)="admissionService.returnToList(this.userId)" icon="fa-arrow-left" color="btn-blue" [caption]="'back' | l" [bTooltip]="'backToApplicants' | l"></action-button>
        </div>
    </ng-container>
</div>