<data-panel ngId="notificationTemplates" heading="{{ 'notificationTemplates' | l }}{{ notificationTemplates.length?': '+notificationTemplates.length:''}}" color="portlet-blue">
    <data-filter #dataFilter></data-filter>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'templateName' | l }}</th>
                <th style="width: 50%">{{ 'subjectIn' | l }}&nbsp;{{ 'greek' | l }}</th>
                <th style="width: 50%">{{ 'subjectIn' | l }}&nbsp;{{ 'english' | l }}</th>
                <th class="text-center">{{ 'actions' | l }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!notificationTemplates.length"><td colspan="6" class="text-right"><loading *ngIf="!notificationTemplates.length"></loading></td></tr>
            <tr *ngFor="let notificationTemplate of notificationTemplates | filterByString:['name']:dataFilter.filter">
                <td>{{ notificationTemplate.name }}</td>
                <td><pre>{{ notificationTemplate.subject_en }}</pre></td>
                <td><pre>{{ notificationTemplate.subject_gr }}</pre></td>
                <td class="text-center text-nowrap">
                    <action-button (specialClick)="viewTemplate($event.actionButtonComponent, notificationTemplate.name)" [color]="'btn-blue'" [icon]="'fa-search'" [bTooltip]="'viewTemplate' | l"></action-button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</data-panel> 
