<ng-container *ngIf="personalData">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 15px; margin-bottom: 25px;">
            <h4 style="font-weight: bold; margin-bottom: 10px;">{{ 'applicationInstructionsTitle' | l }}</h4>
            <p style="font-size: 15px; line-height: 1.6; color: #333;">{{ 'applicationInstructionsContent' | l }}</p>
        </div>
    </div>

    <data-panel ngId="gdprInfo" [heading]="'gdprInfo' | l" color="portlet-blue" [collapsed]="false">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size: 15px; line-height: 1.6; margin: 10px 0;"
                    [innerHTML]="'gdprInfoText' | l"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top: 15px; margin-bottom: 10px;">
                <button class="btn btn-green btn-block" type="button"
                    (click)="collapsePanel('gdprInfo', 'idInfo')">{{ 'continue' | l }}</button>
            </div>
        </div>
    </data-panel>

    <data-panel ngId="idInfo" [heading]="'identityInformation' | l" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <!-- Left: Details Column -->
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="firstName">{{ 'firstName' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.firstName" id="firstName"
                                    name="firstName" class="form-control" autocomplete="off" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="lastName">{{ 'lastName' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.lastName" id="lastName"
                                    name="lastName" class="form-control" autocomplete="off" required disabled>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="sex">{{ 'sex' | l }}</label>
                            <div class="form-group">
                                <label for="sexMale" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.sex" id="sexMale"
                                        name="sex" value="sexMale" required>&nbsp;{{ 'sexMale' | l }}</label>
                                <label for="sexFemale" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.sex" id="sexFemale"
                                        name="sex" value="sexFemale" required>&nbsp;{{ 'sexFemale' | l }}</label>
                                <required-field-warning *ngIf="validate && !personalData.application.sex"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="birthDate">{{ 'birthDate' | l }}</label>
                                <date-input id="birthDate" name="birthDate" [date]="personalData.application.birthDate"
                                    [maxDate]="maxDate" (onChange)="updateDateModel($event)" autofocus></date-input>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.birthDate"></required-field-warning>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birthPlace">{{ 'birthPlace' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.birthPlace" id="birthPlace"
                                    name="birthPlace" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.birthPlace"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fatherName">{{ 'fatherName' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.fatherName" id="fatherName"
                                    name="fatherName" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.fatherName"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="motherName">{{ 'motherName' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.motherName" id="motherName"
                                    name="motherName" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.motherName"></required-field-warning>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="email">{{ 'email' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.email" id="email" name="email"
                                    class="form-control" autocomplete="off" required disabled>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="phone">{{ 'phone' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.phone" id="phone" name="phone"
                                    class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.phone"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="occupation">{{ 'occupationLabel' | l }}</label>
                                <input type="text" [(ngModel)]="personalData.application.occupation" id="occupation"
                                    name="occupation" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.occupation"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="familySingle">{{ 'familyStatus' | l }}</label><br>
                                <label for="familySingle" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.familyStatus" id="familySingle"
                                        name="familyStatus" value="familySingle" required>&nbsp;{{ 'maritalSingle' | l }}</label>
                                <label for="familyMarried" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.familyStatus" id="familyMarried"
                                        name="familyStatus" value="familyMarried" required>&nbsp;{{ 'maritalMarried' | l }}</label>
                                <label for="familyDivorced" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.familyStatus" id="familyDivorced"
                                        name="familyStatus" value="familyDivorced" required>&nbsp;{{ 'maritalDivorced' | l }}</label>
                                <label for="familyWidow" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.familyStatus" id="familyWidow"
                                        name="familyStatus" value="familyWidow" required>&nbsp;{{ 'maritalWidow' | l }}</label>
                                <required-field-warning *ngIf="validate && personalData.application.familyStatus === null"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="greekCitizen">{{ 'greekCitizen' | l }}</label>
                            <div class="form-group">
                                <label for="greekCitizen" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.greekCitizen" id="greekCitizen"
                                        name="greekCitizen" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                                <label for="nonGreekCitizen" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.greekCitizen" id="nonGreekCitizen"
                                        name="greekCitizen" value="0" required>&nbsp;{{ 'no' | l }}</label>
                                <required-field-warning *ngIf="validate && personalData.application.greekCitizen === null"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="personalData.application.greekCitizen === '1'" class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="greekIdNumber">{{ 'greekIdNumber' | l }}</label><br>
                                <input type="text" [(ngModel)]="personalData.application.greekIdNumber" id="greekIdNumber"
                                    name="greekIdNumber" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.greekIdNumber"></required-field-warning>
                                <inline-uploader [userId]="userId" [documentTypeId]="1" [files]="documentsList" [label]="'uploadIdCard' | l"></inline-uploader>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="personalData.application.greekCitizen === '0'" class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="citizenship">{{ 'citizenship' | l }}</label><br>
                                <select [(ngModel)]="personalData.application.citizenship" class="form-control"
                                    id="citizenship" name="citizenship" autocomplete="off" required>
                                    <option *ngFor="let c of sortedCountries" [value]="c.gr">{{ isEnglish ? c.en : c.gr }}</option>
                                </select>
                                <required-field-warning *ngIf="validate && !personalData.application.citizenship"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="euCitizen">{{ 'euCitizen' | l }}</label><br>
                                <label for="euCitizen" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.euCitizen" id="euCitizen" name="euCitizen"
                                        value="1" required>&nbsp;{{ 'yes' | l }}</label>
                                <label for="nonEuCitizen" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.euCitizen" id="nonEuCitizen" name="euCitizen"
                                        value="0" required>&nbsp;{{ 'no' | l }}</label>
                                <required-field-warning *ngIf="validate && personalData.application.euCitizen === null"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="passportNumber">{{ 'passportNumber' | l }}</label><br>
                                <input type="text" [(ngModel)]="personalData.application.passportNumber" id="passportNumber"
                                    name="passportNumber" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.passportNumber"></required-field-warning>
                                <inline-uploader [userId]="userId" [documentTypeId]="2" [files]="documentsList" [label]="'uploadPassport' | l"></inline-uploader>
                            </div>
                        </div>
                        <div *ngIf="personalData.application.euCitizen === '0'" class="col-md-3">
                            <div class="form-group">
                                <label for="residencePermit">{{ 'residencePermit' | l }}</label><br>
                                <label for="residencePermit" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.residencePermit" id="residencePermit"
                                        name="residencePermit" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                                <label for="noResidencePermit" class="radio-inline"><input type="radio"
                                        [(ngModel)]="personalData.application.residencePermit" id="noResidencePermit"
                                        name="residencePermit" value="0" required>&nbsp;{{ 'no' | l }}</label>
                                <required-field-warning
                                    *ngIf="validate && personalData.application.residencePermit === null"
                                    [warningText]="'requiredChoice' | l"></required-field-warning>
                                <inline-uploader *ngIf="personalData.application.residencePermit === '1'" [userId]="userId" [documentTypeId]="3" [files]="documentsList" [label]="'uploadResidencePermit' | l"></inline-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="greekSsn">{{ 'greekSsn' | l }}</label><br>
                                <input type="text" [(ngModel)]="personalData.application.greekSsn"
                                    [placeholder]="'greekSsnPlaceholder' | l" id="greekSsn"
                                    name="greekSsn" class="form-control" autocomplete="off"
                                    minlength="9" maxlength="9" pattern="[0-9]{9}"
                                    #greekSsnModel="ngModel" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.greekSsn"></required-field-warning>
                                <required-field-warning
                                    *ngIf="validate && personalData.application.greekSsn && (greekSsnModel.invalid || personalData.application.greekSsn.toString().length !== 9)"
                                    [warningText]="'greekSsnInvalidLength' | l"></required-field-warning>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="irsOffice">{{ 'irsOffice' | l }}</label><br>
                                <input type="text" [(ngModel)]="personalData.application.irsOffice" id="irsOffice"
                                    name="irsOffice" class="form-control" autocomplete="off" required>
                                <required-field-warning
                                    *ngIf="validate && !personalData.application.irsOffice"></required-field-warning>
                            </div>
                        </div>
                    </div> <!-- End Left Column Inner Rows -->
                </div> <!-- End col-md-9 Details Column -->

                <div class="col-md-3">
                    <div class="form-group text-center">
                        <label style="font-weight: bold; color: #444; margin-bottom: 8px; display: block;">{{ 'passportPhotoLabel' | l }}</label>
                        <inline-uploader [userId]="userId" [documentTypeId]="5" [files]="documentsList" [label]="'uploadPassportPhoto' | l"></inline-uploader>
                    </div>
                </div>
            </div> <!-- End Outer row -->

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('idInfo', 'addressInfo')">{{ 'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>

    <data-panel ngId="addressInfo" [heading]="'homeAddress' | l" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="address">{{ 'address' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.address" id="address"
                            name="address" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.address"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="city">{{ 'city' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.city" id="city" name="city"
                            class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.city"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="zipCode">{{ 'zipCode' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.zipCode" id="zipCode"
                            name="zipCode" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.zipCode"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="country">{{ 'country' | l }}</label>
                        <select [(ngModel)]="personalData.application.country" class="form-control" id="country"
                            name="country" autocomplete="off" required>
                            <option *ngFor="let c of sortedCountries" [value]="c.gr">{{ isEnglish ? c.en : c.gr }}</option>
                        </select>
                        <required-field-warning *ngIf="validate && !personalData.application.country"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('addressInfo', underage ? 'guardianInfo' : 'primarySecondaryEducationInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>

    <data-panel *ngIf="underage" ngId="guardianInfo" [heading]="'guardianInformation' | l" color="portlet-blue"
        collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianFirstName">{{ 'firstName' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianFirstName"
                            id="guardianFirstName" name="guardianFirstName" class="form-control" autocomplete="off"
                            required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianFirstName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianLastName">{{ 'lastName' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianLastName"
                            id="guardianLastName" name="guardianLastName" class="form-control" autocomplete="off"
                            required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianLastName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianOccupation">{{ 'guardianOccupation' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianOccupation"
                            id="guardianOccupation" name="guardianOccupation" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianOccupation"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianEmail">{{ 'email' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianEmail" id="guardianEmail"
                            name="guardianEmail" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianEmail"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianPhone">{{ 'phone' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianPhone" id="guardianPhone"
                            name="guardianPhone" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianPhone"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianAddressSame">{{ 'guardianAddressSame' | l }}</label><br>
                        <label for="guardianAddressSame" class="radio-inline"><input type="radio"
                                [(ngModel)]="personalData.application.guardianAddressSame" id="guardianAddressSame"
                                name="guardianAddressSame" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                        <label for="guardianAddressNotSame" class="radio-inline"><input type="radio"
                                [(ngModel)]="personalData.application.guardianAddressSame"
                                id="guardianAddressNotSame" name="guardianAddressSame" value="0" required>&nbsp;{{
                             'no' | l }}</label>
                        <required-field-warning
                            *ngIf="validate && personalData.application.guardianAddressSame === null"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>
            <div *ngIf="personalData.application.guardianAddressSame === '0'" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="guardianAddress">{{ 'guardianAddress' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianAddress"
                            id="guardianAddress" name="guardianAddress" class="form-control" autocomplete="off"
                            required autofocus>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianAddress"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianCity">{{ 'city' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianCity" id="guardianCity"
                            name="guardianCity" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianCity"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="guardianZipCode">{{ 'zipCode' | l }}</label>
                        <input type="text" [(ngModel)]="personalData.application.guardianZipCode"
                            id="guardianZipCode" name="guardianZipCode" class="form-control" autocomplete="off"
                            required>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianZipCode"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="guardianCountry">{{ 'country' | l }}</label>
                        <select [(ngModel)]="personalData.application.guardianCountry" class="form-control"
                            id="guardianCountry" name="guardianCountry" autocomplete="off" required>
                            <option *ngFor="let c of sortedCountries" [value]="c.gr">{{ isEnglish ? c.en : c.gr }}</option>
                        </select>
                        <required-field-warning *ngIf="validate && !personalData.application.guardianCountry"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="guardianOpinion">{{ 'guardianOpinion' | l }}</label>
                        <textarea [(ngModel)]="personalData.application.guardianOpinion" id="guardianOpinion"
                            name="guardianOpinion" class="form-control" rows="5" autocomplete="off"
                            required></textarea>
                        <required-field-warning
                            *ngIf="validate && !personalData.application.guardianOpinion"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('guardianInfo', 'primarySecondaryEducationInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
</ng-container>
