<ng-container *ngIf="healthData">
    <data-panel ngId="healthHistoryInfo" [heading]="'healthHistory' | l" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-12">
                    <label>{{ 'healthHistoryLabel' | l }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tuberculosis" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.tuberculosis" id="tuberculosis"
                                name="tuberculosis" autocomplete="off">&nbsp;{{ 'tuberculosis' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="pneumonia" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.pneumonia" id="pneumonia" name="pneumonia"
                                autocomplete="off">&nbsp;{{ 'pneumonia' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="asthma" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.asthma" id="asthma" name="asthma"
                                autocomplete="off">&nbsp;{{ 'asthma' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="heartDiseases" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.heartDiseases" id="heartDiseases"
                                name="heartDiseases" autocomplete="off">&nbsp;{{ 'heartDiseases' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="hypertension" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.hypertension" id="hypertension"
                                name="hypertension" autocomplete="off">&nbsp;{{ 'hypertension' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="gastricUlcer" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.gastricUlcer" id="gastricUlcer"
                                name="gastricUlcer" autocomplete="off">&nbsp;{{ 'gastricUlcer' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="kidneyDiseases" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.kidneyDiseases" id="kidneyDiseases"
                                name="kidneyDiseases" autocomplete="off">&nbsp;{{ 'kidneyDiseases' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="diabetes" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.diabetes" id="diabetes" name="diabetes"
                                autocomplete="off">&nbsp;{{ 'diabetes' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="epilepsy" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.epilepsy" id="epilepsy" name="epilepsy"
                                autocomplete="off">&nbsp;{{ 'epilepsy' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="liverDiseases" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.liverDiseases" id="liverDiseases"
                                name="liverDiseases" autocomplete="off">&nbsp;{{ 'liverDiseases' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="rheumatism" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.rheumatism" id="rheumatism" name="rheumatism"
                                autocomplete="off">&nbsp;{{ 'rheumatism' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="anemia" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.anemia" id="anemia" name="anemia"
                                autocomplete="off">&nbsp;{{ 'anemia' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cancer" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.cancer" id="cancer" name="cancer"
                                autocomplete="off">&nbsp;{{ 'cancer' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="physicalDisability" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.physicalDisability" id="physicalDisability"
                                name="physicalDisability" autocomplete="off">&nbsp;{{ 'physicalDisability' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="gallbladderDiseases" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.gallbladderDiseases" id="gallbladderDiseases"
                                name="gallbladderDiseases" autocomplete="off">&nbsp;{{ 'gallbladderDiseases' | l }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="otherDiseases">{{ 'haveOtherSeriousDiseases' | l }}</label>
                        <div class="form-group">
                            <label for="otherDiseases" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.otherDiseases" id="otherDiseases"
                                    name="otherDiseases" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noOtherDiseases" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.otherDiseases" id="noOtherDiseases"
                                    name="otherDiseases" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning
                                *ngIf="validate && healthData.application.otherDiseases === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.otherDiseases === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="otherDiseasesDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.otherDiseasesDetails"
                            id="otherDiseasesDetails" name="otherDiseasesDetails" class="form-control" rows="3"
                            autocomplete="off" required autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.otherDiseasesDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <label>{{ 'vaccinesLabel' | l }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="tetanusVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.tetanusVaccine" id="tetanusVaccine"
                                name="tetanusVaccine" autocomplete="off">&nbsp;{{ 'tetanusVaccine' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="diphtheriaVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.diphtheriaVaccine" id="diphtheriaVaccine"
                                name="diphtheriaVaccine" autocomplete="off">&nbsp;{{ 'diphtheriaVaccine' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pertussisVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.pertussisVaccine" id="pertussisVaccine"
                                name="pertussisVaccine" autocomplete="off">&nbsp;{{ 'pertussisVaccine' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="polioVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.polioVaccine" id="polioVaccine"
                                name="polioVaccine" autocomplete="off">&nbsp;{{ 'polioVaccine' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="measlesVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.measlesVaccine" id="measlesVaccine"
                                name="measlesVaccine" autocomplete="off">&nbsp;{{ 'measlesVaccine' | l }}</label>
                    </div>
                    <div class="form-group">
                        <label for="mumpsVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.mumpsVaccine" id="mumpsVaccine"
                                name="mumpsVaccine" autocomplete="off">&nbsp;{{ 'mumpsVaccine' | l }}</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="rubellaVaccine" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.rubellaVaccine" id="rubellaVaccine"
                                name="rubellaVaccine" autocomplete="off">&nbsp;{{ 'rubellaVaccine' | l }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="otherVaccines">{{ 'haveOtherVaccines' | l }}</label>
                        <div class="form-group">
                            <label for="otherVaccines" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.otherVaccines" id="otherVaccines"
                                    name="otherVaccines" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noOtherVaccines" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.otherVaccines" id="noOtherVaccines"
                                    name="otherVaccines" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning
                                *ngIf="validate && healthData.application.otherVaccines === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.otherVaccines === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="otherVaccinesDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.otherVaccinesDetails"
                            id="otherVaccinesDetails" name="otherVaccinesDetails" class="form-control" rows="3"
                            autocomplete="off" required autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.otherVaccinesDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('healthHistoryInfo', 'drugsUseInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>

    <data-panel ngId="drugsUseInfo" [heading]="'substanceUse' | l" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="drugsUse">{{ 'usedSubstances' | l }}</label>
                        <div class="form-group">
                            <label for="drugsUse" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.drugsUse" id="drugsUse" name="drugsUse"
                                    value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noDrugsUse" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.drugsUse" id="noDrugsUse" name="drugsUse"
                                    value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning *ngIf="validate && healthData.application.drugsUse === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.drugsUse === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="drugsUseDetails">{{ 'drugsUseDetails' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.drugsUseDetails" id="drugsUseDetails"
                            name="drugsUseDetails" class="form-control" rows="5" autocomplete="off" required
                            autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.drugsUseDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('drugsUseInfo', 'currentHealthInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>

    <data-panel ngId="currentHealthInfo" [heading]="'currentHealthStatus' | l" color="portlet-blue" collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="learningDifficulties">{{ 'learningDifficultiesQuestion' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.learningDifficulties"
                            id="learningDifficulties" name="learningDifficulties" class="form-control" rows="3"
                            autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <inline-uploader [userId]="userId" [documentTypeId]="10" [files]="documentsList"
                        [label]="'learningDifficultiesUpload' | l"></inline-uploader>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="healthAccessibilityCircumstances">{{ 'healthAccessibilityQuestion' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.healthAccessibilityCircumstances"
                            id="healthAccessibilityCircumstances" name="healthAccessibilityCircumstances"
                            class="form-control" rows="3" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="currentDiseases">{{ 'currentDiseases' | l }}</label>
                        <div class="form-group">
                            <label for="currentDiseases" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentDiseases" id="currentDiseases"
                                    name="currentDiseases" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noCurrentDiseases" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentDiseases" id="noCurrentDiseases"
                                    name="currentDiseases" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning
                                *ngIf="validate && healthData.application.currentDiseases === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.currentDiseases === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="currentDiseasesDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.currentDiseasesDetails"
                            id="currentDiseasesDetails" name="currentDiseasesDetails" class="form-control" rows="3"
                            autocomplete="off" required autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.currentDiseasesDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="currentSymptoms">{{ 'currentSymptoms' | l }}</label>
                        <div class="form-group">
                            <label for="currentSymptoms" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentSymptoms" id="currentSymptoms"
                                    name="currentSymptoms" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noCurrentSymptoms" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentSymptoms" id="noCurrentSymptoms"
                                    name="currentSymptoms" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning
                                *ngIf="validate && healthData.application.currentSymptoms === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.currentSymptoms === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="currentSymptomsDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.currentSymptomsDetails"
                            id="currentSymptomsDetails" name="currentSymptomsDetails" class="form-control" rows="3"
                            autocomplete="off" required autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.currentSymptomsDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="currentMedicines">{{ 'currentMedicines' | l }}</label>
                        <div class="form-group">
                            <label for="currentMedicines" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentMedicines" id="currentMedicines"
                                    name="currentMedicines" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noCurrentMedicines" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.currentMedicines" id="noCurrentMedicines"
                                    name="currentMedicines" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning
                                *ngIf="validate && healthData.application.currentMedicines === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.currentMedicines === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="currentMedicinesDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.currentMedicinesDetails"
                            id="currentMedicinesDetails" name="currentMedicinesDetails" class="form-control"
                            rows="3" autocomplete="off" required autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.currentMedicinesDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="foodAllergy">{{ 'foodAllergy' | l }}</label>
                        <div class="form-group">
                            <label for="foodAllergy" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.foodAllergy" id="foodAllergy"
                                    name="foodAllergy" value="1" required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noFoodAllergy" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.foodAllergy" id="noFoodAllergy"
                                    name="foodAllergy" value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning *ngIf="validate && healthData.application.foodAllergy === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
                <div *ngIf="healthData.application.foodAllergy === '1'" class="col-md-6">
                    <div class="form-group">
                        <label for="foodAllergyDetails">{{ 'details' | l }}</label>
                        <textarea [(ngModel)]="healthData.application.foodAllergyDetails" id="foodAllergyDetails"
                            name="foodAllergyDetails" class="form-control" rows="3" autocomplete="off" required
                            autofocus></textarea>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.foodAllergyDetails"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('currentHealthInfo', 'emergencyContactsInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>

    <data-panel ngId="emergencyContactsInfo" [heading]="'emergencyContacts' | l" color="portlet-blue"
        collapsed="true">
        <fieldset [disabled]="formLoading">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emergencyFirstName">{{ 'contactFirstName' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.emergencyFirstName"
                            id="emergencyFirstName" name="emergencyFirstName" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.emergencyFirstName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emergencyLastName">{{ 'contactLastName' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.emergencyLastName"
                            id="emergencyLastName" name="emergencyLastName" class="form-control" autocomplete="off"
                            required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.emergencyLastName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emergencyPhone">{{ 'contactPhone' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.emergencyPhone" id="emergencyPhone"
                            name="emergencyPhone" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.emergencyPhone"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="emergencyRelationship">{{ 'relationship' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.emergencyRelationship"
                            id="emergencyRelationship" name="emergencyRelationship" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.emergencyRelationship"></required-field-warning>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="doctor">{{ 'hasPersonalDoctor' | l }}</label>
                        <div class="form-group">
                            <label for="doctor" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.doctor" id="doctor" name="doctor" value="1"
                                    required>&nbsp;{{ 'yes' | l }}</label>
                            <label for="noDoctor" class="radio-inline"><input type="radio"
                                    [(ngModel)]="healthData.application.doctor" id="noDoctor" name="doctor"
                                    value="0" required>&nbsp;{{ 'no' | l }}</label>
                            <required-field-warning *ngIf="validate && healthData.application.doctor === null"
                                [warningText]="'requiredChoice' | l"></required-field-warning>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="healthData.application.doctor === '1'" class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doctorFirstName">{{ 'doctorFirstName' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorFirstName" id="doctorFirstName"
                            name="doctorFirstName" class="form-control" autocomplete="off" required autofocus>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorFirstName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doctorLastName">{{ 'doctorLastName' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorLastName" id="doctorLastName"
                            name="doctorLastName" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorLastName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doctorPhone">{{ 'doctorPhone' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorPhone" id="doctorPhone"
                            name="doctorPhone" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorPhone"></required-field-warning>
                    </div>
                </div>
            </div>
            <div *ngIf="healthData.application.doctor === '1'" class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="doctorAddress">{{ 'doctorAddress' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorAddress" id="doctorAddress"
                            name="doctorAddress" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorAddress"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doctorCity">{{ 'city' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorCity" id="doctorCity"
                            name="doctorCity" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorCity"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="doctorZipCode">{{ 'zipCode' | l }}</label>
                        <input type="text" [(ngModel)]="healthData.application.doctorZipCode" id="doctorZipCode"
                            name="doctorZipCode" class="form-control" autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !healthData.application.doctorZipCode"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="doctorCountry">{{ 'country' | l }}</label>
                        <select [(ngModel)]="healthData.application.doctorCountry" class="form-control"
                            id="doctorCountry" name="doctorCountry" autocomplete="off" required>
                            <option>Αγγλία</option>
                            <option>Νήσος Αγίας Ελένης</option>
                            <option>Αγία Λουκία</option>
                            <option>Άγιος Βαρθολομαίος</option>
                            <option>Άγιος Βικέντιος και Γρεναδίνες</option>
                            <option>Άγιος Μαρίνος</option>
                            <option>Άγιος Μαρτίνος (Γαλλία)</option>
                            <option>Άγιος Μαρτίνος (Ολλανδία)</option>
                            <option>Άγιος Χριστόφορος και Νέβις</option>
                            <option>Αζερμπαϊτζάν</option>
                            <option>Αίγυπτος</option>
                            <option>Αιθιοπία</option>
                            <option>Αϊτή</option>
                            <option>Ακτή Ελεφαντοστού</option>
                            <option>Αλβανία</option>
                            <option>Αλγερία</option>
                            <option>Αμερικανική Σαμόα</option>
                            <option>Ανατολικό Τιμόρ</option>
                            <option>Ανγκόλα</option>
                            <option>Ανγκουίλα</option>
                            <option>Ανδόρρα</option>
                            <option>Αντίγκουα και Μπαρμπούντα</option>
                            <option>Αργεντινή</option>
                            <option>Αρμενία</option>
                            <option>Αρούμπα</option>
                            <option>Αυστραλία</option>
                            <option>Αυστρία</option>
                            <option>Αφγανιστάν</option>
                            <option>Βανουάτου</option>
                            <option>Βατικανό</option>
                            <option>Βέλγιο</option>
                            <option>Βενεζουέλα</option>
                            <option>Βερμούδες</option>
                            <option>Βιετνάμ</option>
                            <option>Βολιβία</option>
                            <option>Βόρεια Ιρλανδία</option>
                            <option>Βόρεια Κορέα</option>
                            <option>Βόρειες Μαριάνες Νήσοι</option>
                            <option>Βοσνία και Ερζεγοβίνη</option>
                            <option>Βουλγαρία</option>
                            <option>Βραζιλία</option>
                            <option>Βρετανικές Παρθένοι Νήσοι</option>
                            <option>Γαλλία</option>
                            <option>Γαλλική Πολυνησία</option>
                            <option>Γερμανία</option>
                            <option>Γεωργία</option>
                            <option>Γιβραλτάρ</option>
                            <option>Γκάμπια</option>
                            <option>Γκαμπόν</option>
                            <option>Γκάνα</option>
                            <option>Γκουάμ</option>
                            <option>Γουατεμάλα</option>
                            <option>Γαλλική Γουιάνα</option>
                            <option>Γουινέα</option>
                            <option>Γουινέα-Μπισσάου</option>
                            <option>Γουιάνα</option>
                            <option>Γρενάδα</option>
                            <option>Δανία</option>
                            <option>Δομινίκα</option>
                            <option>Δομινικανή Δημοκρατία</option>
                            <option>Δυτική Σαχάρα</option>
                            <option>Ελ Σαλβαδόρ</option>
                            <option>Ελβετία</option>
                            <option>Ελλάδα</option>
                            <option>Ερυθραία</option>
                            <option>Εσθονία</option>
                            <option>Ζάμπια</option>
                            <option>Ζιμπάμπουε</option>
                            <option>Ηνωμένα Αραβικά Εμιράτα</option>
                            <option>Ηνωμένο Βασίλειο</option>
                            <option>Ηνωμένες Πολιτείες Αμερικής</option>
                            <option>Ιαπωνία</option>
                            <option>Ινδία</option>
                            <option>Ινδονησία</option>
                            <option>Ιορδανία</option>
                            <option>Ιράκ</option>
                            <option>Ιράν</option>
                            <option>Ιρλανδία</option>
                            <option>Ισημερινή Γουινέα</option>
                            <option>Ισημερινός</option>
                            <option>Ισλανδία</option>
                            <option>Ισπανία</option>
                            <option>Ισράηλ</option>
                            <option>Ιταλία</option>
                            <option>Καζακστάν</option>
                            <option>Καμερούν</option>
                            <option>Καμπότζη</option>
                            <option>Καναδάς</option>
                            <option>Κατάρ</option>
                            <option>Κέιμαν Νήσοι</option>
                            <option>Κεντροαφρικανική Δημοκρατία</option>
                            <option>Κένυα</option>
                            <option>Κίνα</option>
                            <option>Κιργιζία</option>
                            <option>Κιριμπάτι</option>
                            <option>Κολομβία</option>
                            <option>Κομόρες</option>
                            <option>Δημοκρατία του Κονγκό</option>
                            <option>Λαϊκή Δημοκρατία του Κονγκό</option>
                            <option>Κόστα Ρίκα</option>
                            <option>Κόσοβο</option>
                            <option>Κούβα</option>
                            <option>Κουβέιτ</option>
                            <option>Κουρασάο</option>
                            <option>Κροατία</option>
                            <option>Κύπρος</option>
                            <option>Λάος</option>
                            <option>Λεσότο</option>
                            <option>Λετονία</option>
                            <option>Λευκορωσία</option>
                            <option>Λίβανος</option>
                            <option>Λιβερία</option>
                            <option>Λιβύη</option>
                            <option>Λιθουανία</option>
                            <option>Λίχτενσταϊν</option>
                            <option>Λουξεμβούργο</option>
                            <option>Μαγιότ</option>
                            <option>Μαδαγασκάρη</option>
                            <option>Μαλαισία</option>
                            <option>Μαλάουι</option>
                            <option>Μαλδίβες</option>
                            <option>Μάλι</option>
                            <option>Μάλτα</option>
                            <option>Νήσος του Μαν</option>
                            <option>Μαρόκο</option>
                            <option>Μαυρίκιος</option>
                            <option>Μαυριτανία</option>
                            <option>Μαυροβούνιο</option>
                            <option>Μεξικό</option>
                            <option>Μιανμάρ</option>
                            <option>Μικρονησία</option>
                            <option>Μογγολία</option>
                            <option>Μοζαμβίκη</option>
                            <option>Μολδαβία</option>
                            <option>Μονακό</option>
                            <option>Μπανγκλαντές</option>
                            <option>Μπαρμπάντος</option>
                            <option>Μπαχάμες</option>
                            <option>Μπαχρέιν</option>
                            <option>Μπελίζ</option>
                            <option>Μπενίν</option>
                            <option>Μποτσουάνα</option>
                            <option>Μπουρκίνα Φάσο</option>
                            <option>Μπουρούντι</option>
                            <option>Μπρουνέι</option>
                            <option>Ναμίμπια</option>
                            <option>Ναουρού</option>
                            <option>Νέα Ζηλανδία</option>
                            <option>Νέα Καληδονία</option>
                            <option>Νεπάλ</option>
                            <option>Νήσοι Μάρσαλ</option>
                            <option>Νήσοι Σολομώντα</option>
                            <option>Νίγηρας</option>
                            <option>Νιγηρία</option>
                            <option>Νικαράγουα</option>
                            <option>Νιούε</option>
                            <option>Νορβηγία</option>
                            <option>Νότια Αφρική</option>
                            <option>Νότια Κορέα</option>
                            <option>Νότιο Σουδάν</option>
                            <option>Ολλανδία</option>
                            <option>Ομάν</option>
                            <option>Ονδούρα</option>
                            <option>Ουαλία</option>
                            <option>Ουγγαρία</option>
                            <option>Ουγκάντα</option>
                            <option>Ουζμπεκιστάν</option>
                            <option>Ουκρανία</option>
                            <option>Ουρουγουάη</option>
                            <option>Πακιστάν</option>
                            <option>Παλάου</option>
                            <option>Κράτος της Παλαιστίνης</option>
                            <option>Παναμάς</option>
                            <option>Παπούα Νέα Γουινέα</option>
                            <option>Παραγουάη</option>
                            <option>Αμερικανικές Παρθένοι Νήσοι</option>
                            <option>Περού</option>
                            <option>Πολωνία</option>
                            <option>Πορτογαλία</option>
                            <option>Πουέρτο Ρίκο</option>
                            <option>Πράσινο Ακρωτήριο</option>
                            <option>Δημοκρατία της Μακεδονίας (ΠΓΔΜ)</option>
                            <option>Ρουάντα</option>
                            <option>Ρουμανία</option>
                            <option>Ρωσία</option>
                            <option>Σαμόα</option>
                            <option>Σάο Tome and Principe</option>
                            <option>Σαουδική Αραβία</option>
                            <option>Σενεγάλη</option>
                            <option>Σερβία</option>
                            <option>Σεϋχέλλες</option>
                            <option>Σιγκαπούρη</option>
                            <option>Σιέρα Λεόνε</option>
                            <option>Σκωτία</option>
                            <option>Σλοβακία</option>
                            <option>Σλοβενία</option>
                            <option>Σοмаλία</option>
                            <option>Σουαζιλάνδη</option>
                            <option>Σουδάν</option>
                            <option>Σουηδία</option>
                            <option>Σουρινάμ</option>
                            <option>Σρι Λάνκα</option>
                            <option>Συρία</option>
                            <option>Ταϊβάν</option>
                            <option>Ταϊλάνδη</option>
                            <option>Τανζανία</option>
                            <option>Τατζικιστάν</option>
                            <option>Τζαμάικα</option>
                            <option>Τζιμπουτί</option>
                            <option>Τόγκο</option>
                            <option>Τόνγκα</option>
                            <option>Τουβαλού</option>
                            <option>Τουρκία</option>
                            <option>Τουρκμενιστάν</option>
                            <option>Τρινιντάντ και Τομπάγκο</option>
                            <option>Τσαντ</option>
                            <option>Τσεχία</option>
                            <option>Τυνησία</option>
                            <option>Υεμένη</option>
                            <option>Υπερδνειστερία</option>
                            <option>Νήσοι Φερόες</option>
                            <option>Φιλιππίνες</option>
                            <option>Φινλανδία</option>
                            <option>Φίτζι</option>
                            <option>Νήσοι Φώκλαντ</option>
                            <option>Χιλή</option>
                            <option>Χονγκ Κονγκ</option>
                            <option>Νήσος των Χριστουγέννων</option>
                            <option>Ώλαντ</option>
                        </select>
                        <required-field-warning *ngIf="validate && !healthData.application.doctorCountry"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>
            <div *ngIf="healthData.application.doctor === '1'" class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="doctorContactApproval" class="checkbox-inline"><input type="checkbox"
                                [(ngModel)]="healthData.application.doctorContactApproval"
                                id="doctorContactApproval" name="doctorContactApproval" autocomplete="off"
                                required>&nbsp;{{ 'doctorContactApproval' | l }}</label>
                        <required-field-warning *ngIf="validate && !healthData.application.doctorContactApproval"
                            [warningText]="'requiredChoice' | l"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('emergencyContactsInfo', 'churchMinistryInfo')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
        </fieldset>
    </data-panel>
</ng-container>
