<ng-container *ngIf="referencesData">
    <data-panel ngId="recommendationsInfo" [heading]="'recommendationLetters' | l"
        [color]="'portlet-' + getDecisionColor(referencesData.application[0].referenceId)" collapsed="true">
        <fieldset [disabled]="formLoading">
            
            <div class="alert alert-warning" style="margin-top: 10px; margin-bottom: 20px; font-weight: 500;">
                <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ 'referencesFamilyWarning' | l }}
            </div>

            <!-- Category 1: Recommendation Letter 1 -->
            <h4 style="font-weight: bold; margin-top: 10px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; color: #333;">
                {{ 'recommendationLetter1' | l }}
            </h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="firstReferenceFirstName">{{ 'firstName' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[0].firstName"
                            id="firstReferenceFirstName" name="firstReferenceFirstName" class="form-control"
                            autocomplete="off" required autofocus>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[0].firstName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="firstReferenceLastName">{{ 'lastName' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[0].lastName"
                            id="firstReferenceLastName" name="firstReferenceLastName" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[0].lastName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="firstReferenceEmail">{{ 'email' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[0].email"
                            id="firstReferenceEmail" name="firstReferenceEmail" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[0].email"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="firstReferencePhone">{{ 'phone' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[0].phone"
                            id="firstReferencePhone" name="firstReferencePhone" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[0].phone"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstReferenceCity">{{ 'city' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[0].city" id="firstReferenceCity"
                            name="firstReferenceCity" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstReferenceCountry">{{ 'country' | l }}</label>
                        <select [(ngModel)]="referencesData.application[0].country" class="form-control"
                            id="firstReferenceCountry" name="firstReferenceCountry" autocomplete="off">
                            <option *ngFor="let c of sortedCountries" [value]="c.gr">{{ isEnglish ? c.en : c.gr }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Category 2: Recommendation Letter 2 -->
            <h4 style="font-weight: bold; margin-top: 25px; margin-bottom: 15px; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; color: #333;">
                {{ 'recommendationLetter2' | l }}
            </h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="secondReferenceFirstName">{{ 'firstName' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[1].firstName"
                            id="secondReferenceFirstName" name="secondReferenceFirstName" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[1].firstName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="secondReferenceLastName">{{ 'lastName' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[1].lastName"
                            id="secondReferenceLastName" name="secondReferenceLastName" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[1].lastName"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="secondReferenceEmail">{{ 'email' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[1].email"
                            id="secondReferenceEmail" name="secondReferenceEmail" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[1].email"></required-field-warning>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="secondReferencePhone">{{ 'phone' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[1].phone"
                            id="secondReferencePhone" name="secondReferencePhone" class="form-control"
                            autocomplete="off" required>
                        <required-field-warning
                            *ngIf="validate && !referencesData.application[1].phone"></required-field-warning>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="secondReferenceCity">{{ 'city' | l }}</label>
                        <input type="text" [(ngModel)]="referencesData.application[1].city" id="secondReferenceCity"
                            name="secondReferenceCity" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="secondReferenceCountry">{{ 'country' | l }}</label>
                        <select [(ngModel)]="referencesData.application[1].country" class="form-control"
                            id="secondReferenceCountry" name="secondReferenceCountry" autocomplete="off">
                            <option *ngFor="let c of sortedCountries" [value]="c.gr">{{ isEnglish ? c.en : c.gr }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Save & Continue button at the bottom of combined section -->
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-green btn-block" type="button"
                        (click)="onSave('recommendationsInfo', 'studentPackage')">{{
                        'saveAndContinue' | l }}</button>
                </div>
            </div>
            
        </fieldset>
    </data-panel>
</ng-container>
